/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
	--white: #F5EFEE;
	--black: #000000;
	--whitefaded: #EEE7E7;
	--blackfade: #1E1E1E;
	--accent: #B3EACB;
	--accentwhite: #E3EEE5;
	--gray: #E1DBDA;
	--darkergray: #E7E0DF;
	background-color: var(--white);
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
}

.landingPageHeroView {
	height: 100vh;
}

.landingPageNavBar {
	margin: 70px 64px;
	display: flex;
}

.navLeft {
	display: flex;
	grid-column: auto;
}

.welcomeContainer {
	border: 3px solid var(--gray);
	max-width: max-content;
	padding: 14px 18px;
	border-radius: 16px;
	color: var(--blackfade);
	font-weight: 500;
	margin-right: 16px;
	height: 18px;
}

.availabilityStatus {
	padding: 16px 20px;
	background-color: var(--accent);
	width: max-content;
	display: flex;
	border-radius: 16px;
	float: right;
	height: 18px;
	font-weight: 500;
}

.availabilityIcon {
	background-image: url(../images/statusOk.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	transform: scale(1.4);
	margin-left: 16px;
}

.navMiddle {
	display: flex;
	width: max-content;
	margin: auto;
	flex: right;
	gap: 128px;
}

.knowledgeButton {
	font-weight: 500;
	color: var(--blackfade);
	font-size: 22px;
}

.accentLine {
	width: 100%;
	height: 4px;
	background-color: var(--gray);
	margin-top: 8px;
	border-radius: 2px;
}

.aboutButton {
	font-weight: 500;
	color: var(--blackfade);
	font-size: 22px;
}

.navRight {
	display: flex;
	gap: 24px;
}

.languageMenu {
	margin: auto;
	font-weight: 500;
	color: var(--blackfade);
	font-size: 22px;
	background-color: var(--darkergray);
	padding: 14px;
	border-radius: 16px;
}

.arrowDown {
	background-image: url(../images/arrowDown.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 7px;
	margin-top: 4px;
}

.contactButton {
	padding: 19px 33px;
	background-color: var(--blackfade);
	color: var(--white);
	font-size: 22px;
	border-radius: 16px;
	font-weight: 600;
	color: var(--white);
}

.frontContent {
	display: flex;
	max-width: max-content;
	margin: auto;
	gap: 180px;
}

.introductionView {
	width: max-content;
	margin: 148px 0px;
}

.helloContainer p {
	font-size: 22px;
}

.helloContainer h1 {
	font-size: 74px;
	font-weight: 700;
	margin-top: 8px;
	color: var(--blackfade);
}

.introductionDescription {
	margin-top: 32px;
	font-size: 24px;
	max-width: 450px;
	line-height: 1.4;
}

.introductionButtons {
	margin-top: 64px;
	display: flex;
}

.downloadCV {
	background-color: var(--blackfade);
	/*padding: 22px 48px;*/
	padding: 24px 0px;
	width: 220px;
	text-align: center;
	color: var(--white);
	border-radius: 16px;
	font-size: 20px;
	font-weight: 400;
	margin-right: 14px;
}

.portfolio {
	position: relative;
	background-color: var(--white);
	padding: 24px 0px;
	border-radius: 16px;
	width: 220px;
	text-align: center;
	border: 1px solid var(--blackfade);
}

.portfolioText {
	font-size: 20px;
	font-weight: 400;
	color: var(--blackfade);
}

.arrivingSoon {
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--blackfade);
	color: var(--white);
	width: 106px;
	height: 40px;
	border-radius: 20px;
	transform: translate(10px, -20px);
	font-size: 14px;
	line-height: 2.85;
}

span {
	max-height: 2px;
	background-color: var(--accent);
	padding: 2px 8px;
	border-radius: 10px;
	border-bottom: 2px solid var(--accent);

}

.frontPortrait {
	position: relative;
	background-image: url(../images/frontPortraitBackground.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 600px;
	height: 600px;
}

.frontPicture {
	background-image: url(../images/frontProfile2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 510px;
	height: 510px;
	margin: auto;
	margin-top: 45px;
	filter: drop-shadow(0px 0px 12px #00000025);
}

.moreAbout {
	position: absolute;
	background-image: url(../images/smallCircle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 180px;
	height: 180px;
	top: 0;
	right: 0;
	transform: translateX(128px);
}

.moreAboutText {
	background-image: url(../images/moreAboutText2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 106px;
	height: 106px;
	margin: auto;
	margin-top: 37px;
	animation: rotater 5s forwards infinite;
}

@keyframes rotater {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.nextButton {
	position: absolute;
	background-image: url(../images/nextButton.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 90px;
	height: 90px;
	bottom: 0;
	width: 100%;
	margin-bottom: 64px;
}

.nextButton:hover {
	cursor: pointer;
	animation: enlarger 0.5s forwards infinite;
}

@keyframes enlarger {
	0% {filter: drop-shadow(0px 0px 0px var(--blackfade))}
	100% {filter: drop-shadow(10px 10px 0px 20px var(--blackfade))}
}



/* ------------ My knowledge section -------------- */

.myKnowledgeSection {
	position: relative;
	height: 100vh;
	
}

.myKnowledgeContainer {
	max-width: 1100px;
	margin: auto;
	padding-top: 160px;
}

.myKnowledgeContainer h3 {
	font-size: 66px;
	font-weight: 700;
	color: var(--blackfade);
}

.knowledgeBoxes {
	margin: 100px 80px;
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 14px;
}

.visuallCommunication, .productDevelopment, .frontendDevelopment, .rightBox{
	border: 1.5px solid var(--blackfade);
	border-radius: 12px;
	padding: 20px 24px;
}

.visuallCommunication h6, .productDevelopment h6, .frontendDevelopment h6, .rightBox h6 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 18px;
}

.visuallCommunication p, .productDevelopment p, .frontendDevelopment p {
	font-size: 19px;
	margin-top: 8px;
}

.productDevelopment {
	margin-top: 14px;
}

.myBioHook {
	position: relative;
	border: 2px solid var(--blackfade);
	border-radius: 12px 12px 24px 24px;
	padding: 18px 24px 24px 24px;
	margin-top: 14px;
	background-color: var(--accent);
}

.myBioHook h6 {
	font-size: 22px;
	line-height: 1.4;
	font-weight: 500;
}

.myBioButton {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 8px 16px;
	background-color: var(--blackfade);
	color: var(--accent);
	margin: 12px;
	border-radius: 16px;
}

.placeholderTech {
	background-image: url(../images/placeholderTech.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 220px;
	height: 350px;
}



/* -------------------- Did you know section -------------------- */

.didYouKnowSection {
	height: 100vh;

}

.centerDiv {
	position: relative;
	height: 100vh;
}

.didYouKnowContainer {
	display: flex;
	margin: 80px;
	background-color: var(--accent);
	max-width: 1270px;
	width: 1400px;
	margin: auto;
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 42px;
}

.didYouText {
	flex: 50%;
	color: var(--blackfade);
	padding: 50px;
}

.didYouText h6{
	font-size: 64px;
	font-weight: 700;
	margin-bottom: 42px;
}

.didYouText p {
	font-size: 22px;
	line-height: 1.45;
	max-width: 556px;
}

.statBoxesContainer {
	flex: 50%;
	margin-right: 4px;
}

.upperBoxes {
	position: relative;
	display: flex;
	gap: 16px;
	float: right;
	margin-top: 16px;
}

.lowerBoxes {
	margin-top: 16px;
	position: relative;
	display: flex;
	gap: 16px;
	float: right;
}

.statBox {
	position: relative;
	padding: 24px;
	background-color: var(--accentwhite);
	border-radius: 28px;
	width: max-content;
}

.statBoxTitle {
	font-size: 46px;
	font-weight: 800;
	color: var(--blackfade);
	margin-bottom: 8px;
}

.statBoxP {
	font-size: 18px;
	line-height: 1.2;
	
}

.fiftyMs {
	padding-right: 56px;
}

.sourceIcon {
	position: absolute;
	top: 0;
	right: 0;
	margin: 12px;
	padding: 8px;
	background-color: #00000010;
	border-radius: 16px;
}

.infoIcon {
	background-image: url(../images/infoIcon.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 18px;
	height: 18px;
}